.contact-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#instagram {
    color: black;
}

#whatsapps {
    color: #000;
}

.contact-link {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.contact-link:hover {
    text-decoration: underline;
}
img {
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-left: 100px;
}

.heading {
    height: 70px;
    width: 80%;
    margin-top: 50px;
    color:white;
    background-color:#5AB9BA;
    padding-top: 70px;
    letter-spacing: 5px;
    margin-left: 100px;
}
.para{
height: 250px;
width: 250px;
margin-left: 400px;

}