h3{
    color:seagreen
}
p{
    color:aliceblue
}
.kuning{
    color:yellow
}
 h1{
    padding: 20px;
   /* border :20px solid black ; */
   /* border-top-width: 2px;
    border-top-style:solid;
    border-top-color:rgb (red,green,blue);
    top right left bottom */
    border:10px solid green;
    border-radius: 100px;
    margin: 5px 10px 15px 20px;
    padding: 10px 50px;
    

 }

 #Biodata{
    color: beige;
 }